*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background-image: url("../06pics/pics/bg-body.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}





.header{
        width: 100%;
        height: 500px;
        background-image: url("../06pics/pics/bg-header.jpg");
        background-size: cover;
        background-position: center;
        margin: 0 auto ;
        padding: 0;
        display: block;



}



.menu{
    background: rgba(198, 40, 40, 0.6);
    width: 100%;
    margin: 0 auto;
}


.menu ul{

    list-style: none;
    display:flex;
    padding:10px;
    gap:20px;

}


.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}


.content{
    width: 100%;
    background: white;
    padding: 0px;
    margin: 0px auto;
    line-height: 1.6;
    font-size: 16px;
    color:#333;
    border: 1px solid #ddd;
}

h1,h2{
    margin-bottom: 10px;
}


/*.footer{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    padding: 0;
    border-radius: 5px;
    }*/




.container{
  width: 60%;
  margin: 20px auto;
  padding: 0;

}


.cookie-box{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    background:  #000;
    color: #fff;
    display:  flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding:  10px;
    font-size: 16px;
    z-index: 9999;
}


.accept-btn{
    background: #f4c430;
    color:black;
    padding: 1px 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}